.container {
	width: 1024px;
	margin-top: 30px;
	padding-left: 42px;
	padding-right: 46px;
	font: 15px/32px Kalimati, Verdana, sans-serif;
	color: #666;
}

.full-length-row {
	width: 936px;
	margin: 0;
}

.left-col {
	padding-left: 0;
	padding-right: 15px;
}

.right-col {
	padding-left: 16px;
	padding-right: 14px;
}

img {
	width: 375px;
	height: 375px;
	margin-top: 25px;
}

.features {
	width: 375px;
	margin-top: 26px;
	padding-left: 32px;
	border: 1px solid;
	border-color: #ccc;
	height: 223px;
}

h2 {
	color: #f07c17;
	margin-bottom: 30px;
	margin-top: 25px;
}

.features-header {
	padding-top: 35px;
	margin-top: 0;
}

h1 {
	color: #666;
}
